html {
    background-color:#F6F9FB;
    font-family: "Roboto";
}
 /* .navbar.navbar-dark{
    background-color: #000080 ;
}
.mynavbar-right{
    padding-top:4mm;
    margin-right:5mm;
    color:white;
    font-family: Avenir-Black;
  
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
  
  html{
    background-color: #f1f1f1;
    font-family: "Roboto";
  }
  .box{
	position: relative;
	margin: auto;
	height: 410px;
  top: 40px;
	left: 0;
	z-index: 200;
	right: 0;
	width:400px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}
.registerbox button {
    background: #cfd8dc;
    border: 0;
    color: #0198E1;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
}
#header{
  /*background: #009688;
  //position: relative;
  //height: 60px;
 width: 100%;
  margin-bottom: 30px;
}

#cont-lock{
  width: 100%;
  height: 65px;
  position: relative;
}

.lock{
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 65px;
  font-size: 28px;
}

#bottom-head{
  position: relative;
  background: #00796b;
  height: 35px;
}

#bottom-head::after{
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 7px solid white;
  border-right: 7px solid rgba(0,0,0,0);
  border-left: 7px solid rgba(0,0,0,0);
  border-top: 7px solid rgba(0,0,0,0);
}

.box h1{
  margin-left: 20px;
  margin-top: 0;
	font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px;
}

.box button{
	background: #cfd8dc;
	border:0;
	color: #0198E1;
	padding:10px;
	font-size: 16px;
  font-weight: 300;
	width:330px;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

.box button:active{
	background: #0198E1;
  color: #263238;
}

.group{ 
    position:relative; 
    margin-bottom: 35px; 
    margin-left: 40px;
  }

  .thisgroup{
    position:relative; 
/*margin-bottom: 35px;
    margin-left: 40px;
    font-size: 18px;
  }
  .inputMaterial 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  #myTable {
    border-collapse: collapse;
    width: 100%;
    /*border: 1px solid #ddd;
    font-size: 15px;
    padding:20px 20px 20px 20px;
  }
  #myTable th {
    text-align: left;
    padding: 12px;
    color: #151B54;
   
  }
   #myTable td{
    text-align: left;
    padding: 12px;
  color:#9bc2cf;
  }
  #myInput {
    background-image: url('assets/images/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 16px;
  /*  padding: 12px 20px 12px 40px;
    border: 1px solid white;
    margin-bottom: 12px;
    margin-right: 18px
  }
.container{
    padding-left: 15px;
    padding-right:15px;
    margin-left: 9px;
    margin-right: 9px;
}

.upper-title{
  margin-bottom: 8px;
}
*/






Simple setup for this demo 

.mdl-card {
    width: 550px;
    min-height: 0;
    margin: 10px auto;
  }
  
  .mdl-card__supporting-text {
    width: 100%;
    padding: 0;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step {
    width: 25%;
    /* 100 / no_of_steps */
  }
  
  
  Begin actual mdl-stepper css styles 
  
  .mdl-stepper-horizontal-alternative {
    display: table;
    width: 100%;
    margin: 0 auto;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step {
    display: table-cell;
    position: relative;
    padding: 24px;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:hover,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    background-color: rgba(0, 0, 0, .06);
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:active {
    border-radius: 15% / 75%;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child:active {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child:active {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:hover .mdl-stepper-circle {
    background-color: 	#808080;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:first-child .mdl-stepper-bar-left,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step:last-child .mdl-stepper-bar-right {
    display: none;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-circle {
    width: 17px;
    height: 17px;
    margin: 0 auto;
    background-color: 	#808080;
    border-radius: 50%;
    text-align: center;
    line-height: 5em;
    font-size: 12px;
    color: white;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle {
   /* background-color: rgb(33, 150, 243);*/
   background-color:#68DC83;
  }
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle1 {
    /* background-color: rgb(33, 150, 243);*/
    border: 5px solid #a1a1a1;
     width: 15px;
     height:15px;
     border-radius: 50%;
    
     margin-left:30px;
   }
   .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-circle2 {
    /* background-color: rgb(33, 150, 243);*/
    position: relative;
    border: 5px solid #a1a1a1;
     width: 15px;
     height:15px;
     border-radius: 50%;
     margin-left:-25px;
   }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle:before {
    content: "\2714";
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.step-done .mdl-stepper-circle *,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle * {
    display: none;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle {
    -moz-transform: scaleX(-1);
    /* Gecko */
    -o-transform: scaleX(-1);
    /* Opera */
    -webkit-transform: scaleX(-1);
    /* Webkit */
    transform: scaleX(-1);
    /* Standard */
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.editable-step .mdl-stepper-circle:before {
    content: "\270E";
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title {
   /* margin-top: 16px;*/
   padding-bottom: 16px;
    font-size: 14px;
    font-weight: 900;
  }
   .mdl-stepper-title2 {
     margin-top: -19px;
    padding-bottom: 1.5mm;
   /* margin-bottom: -6px;*/
     font-size: 14px;
     font-weight: 900;
   }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-title,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    text-align: center;
    color: rgba(0, 0, 0, .26);
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-title {
    font-weight: 900;
    color: rgba(0, 0, 0, .87);
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.step-done .mdl-stepper-title,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step.editable-step .mdl-stepper-title {
    font-weight: 300;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-optional {
    font-size: 12px;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step.active-step .mdl-stepper-optional {
    color: rgba(0, 0, 0, .54);
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left,
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    position: absolute;
    top: 36px;
    height: 5px;
    border-top: 3px solid #697572;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-right {
    right: 0;
    left: 45%;
    margin-left: 25px;
  }
  
  .mdl-stepper-horizontal-alternative .mdl-stepper-step .mdl-stepper-bar-left {
   left:0.3px;
    right: 45%;
    margin-right: 25px;
  }
  
/*--------*/
  .rectangle-2 {
    height: 347px;
    width: 1140px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 7px 16px 0 rgba(132,152,172,0.1);
  }
  .oval {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border: 2px solid #697572;
    background-color: #FFFFFF;
  }

  .oval-2 {
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    border: 4px solid #FFFFFF;
    background-color: #67DC83;
  }
  .middle-container{
    margin-top:50px;
    margin-left:40px;
    height: 400px;
    width: 500px
    /*margin-right:30px*/
  }

.two-dash-btn-circle1 {
  width: 5px;
  height: 5px;
  text-align: center;
  padding: 6px 6px;
  font-size: 10px;
  /*line-height: 1.428571429;*/
  border-radius: 50%;
  background-color: #68DC83;
  border: black;
}
.two-dash-btn-circle2 {
  width: 5px;
  height: 5px;
  text-align: center;
  padding: 6px 6px;
  font-size: 10px;
  /*line-height: 1.428571429;*/
  border-radius: 50%;
  background-color: #FF923F;
  border: black;
}
.two-dash-btn-circle3 {
  width: 5px;
  height: 5px;
  text-align: center;
  padding: 6px 6px;
  font-size: 9px;
  /*line-height: 1.428571429;*/
  border-radius: 50%;
  background-color: #499EF6;
  border: black;
}

.lower-row{
  margin-top:250px;
  margin-right: 40px;
}

.is-grouped {   
  display: inline-block;
 
}

.is-grouped > .button:not(:last-child) {
  margin-right: 40px;
  font-size:10px;

}
.vl {

  margin-top: 1px;
  margin-left: 26px;
 
  border-left: 1.5px solid #A7B8C9;
  height: 27px;
}
.circle {
	width: 8.9px;
  height: 8.9px;
  margin-left: 22px;
	background: #499EF6;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.vl2 {
  
  /*margin-top: -11px;*/
    margin-left:30px;
   
    border-left: 1.5px solid #A7B8C9;
    height: 27px;
  }
  .this-circle2 {
    position: relative;
    width: 8.9px;
    height: 8.9px;
    margin-left: 26px;
    background: #499EF6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .this-circle3 {
    position: relative;
    width: 8.9px;
    height: 8.9px;
    margin-left: 27px;
    background: #499EF6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .upper-line{
    margin-top:-76px;
   
  }
  .po-style{
    margin-left:8mm;
  }
  .upper-line2{
    margin-left:3mm;
    margin-top:-76px;
  }
  .io-style{
    margin-right:6mm;
  
  }
  .upper-line3{
    margin-right:3mm;
    margin-top:-76px;
  }
  #request-details{
    position: relative;
    margin-left: 15px;
    margin-bottom: 2mm;
    font-size:12px; 
    font-style:oblique;
    font-weight: 900;
    color:#A7B8C9;
  }
.last-container{
  margin-left:50px;
  margin-right:50px;
}  

#left-part{
  position: relative;
  text-align: left;
  font-size:20px;
  font-weight:800;
  color: #485676;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.right-part{
text-align: right
}
#myTable-inventory{
  border-collapse: collapse;
  width: 100%;
  /*border: 1px solid #ddd;*/
  font-size: 15px;
  padding:20px 20px 20px 20px;
}
  
  