@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";


 /* BOX LOGIN */
.box{
	position: relative;
	margin: auto;
	height: 410px;
  top: 40px;
	left: 0;
	z-index: 200;
	right: 0;
	width:400px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}