<div class="upper-container-r">
    <table class="mytable-details">
  <tr >
    <th>Request Id</th>
    <th>Supplier</th>
    <th>Material Type</th>
     <th>Quantity</th>
     
      <th>shipping address</th>
     
  </tr>
  <tr>
    <td>Peter</td>
    <td>005</td>
    <td>15/08/2017</td>
    <td>Peter</td>
    
    <td>nirmal lifestyle,mulund,mumbai</td>
    
  </tr>
</table>
</div>