<div class="upper-container-r">
    <table class="mytable-details">
        <tr id="th-details">
            <th></th>
            <th>Request ID</th>
            <th>Supplier</th>
            <th>Material Type</th>
            <th>Quantity</th>

            <th>shipping address</th>

        </tr>
        <tr id="tr-details">
            <td></td>
            <td><b>Peter</b></td>
            <td><b>005</b></td>
            <td><b>15/08/2017</b></td>
            <td><b>Peter</b></td>

            <td><b>nirmal lifestyle,mulund,mumbai</b></td>

        </tr>
    </table>
</div>
<div class="details-container">

    <div class="details-column">

        <div class="top-image">
            <img src="assets/images/requests.svg" alt="Smiley face" style="background:#499EF6;border-radius: 50%;" height="60" width="60">
        </div>
        <div class="vl-details">
            <div class="oval-4"></div>
        </div>
        
    </div>
    <div class="first-row">
        <p id="detais-status"><b> Request Initiated</b></p>
        <p id="in-detais-status">You sent material request.</p>
    </div>
    <!--<div class="oval-4"></div>-->
    <div class="second-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Request</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">PID2345123</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :17 Sep 2017 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th>Supplier</th>
                    <th><b>Material Type</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Delivery By</b></th>

                    <th>shipping address</th>

                </tr>
                <tr id="in-tr-details">
                    <td>TVS Motors</td>
                    <td>Engine Manifold Module</td>
                    <td>40,000</td>
                    <td>14 Aug 2018</td>
                    <td>nirmal lifestyle,mulund,mumbai</td>

                </tr>
            </table>
        </div>
    </div>
    <div class="vl-details">
            <div class="oval-4"></div>
        </div>
        <div class="third-row">
        <div class="in-first-row">
            <div>
                <p style="font-size:17px;color:#42709F"><b>Request</b></p>
                <p style="font-size:12px;margin-top:-3mm;font-style:oblique;color:#A8B6C4;wight:300">PID2345123</p>
                <div id="in-first-row11">
                    <p style="font-size:13px;font-style:oblique;color:#466A8F"><b style="color:#466A8F">Received</b> :17 Sep 2017 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/view.svg" alt="Smiley face" height="22" width="26">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/download.svg" alt="Smiley face" height="22" width="26"></p>
                </div>
            </div>

        </div>
        <div class="in-second-row">

            <table class="in-mytable-details">
                <tr id="in-th-details">
                    <th>Supplier</th>
                    <th><b>Material Type</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>Delivery By</b></th>

                    <th>shipping address</th>

                </tr>
                <tr id="in-tr-details">
                    <td>TVS Motors</td>
                    <td>Engine Manifold Module</td>
                    <td>40,000</td>
                    <td>14 Aug 2018</td>
                    <td>nirmal lifestyle,mulund,mumbai</td>

                </tr>
            </table>
        </div>
    </div>

</div>