<br/>
<br/>
<br/>
<div class="container">
  <br/>
  <br/>
  <br/>

<div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step ">
       <div class="mdl-stepper-circle1"></div>
        <div class="mdl-stepper-title"></div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
     <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Requests</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
       <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Quoatation</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
       <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Purchase Order</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
       <div class="mdl-stepper-step active-step ">

        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Delivery Order</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Invoice</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
        <div class="mdl-stepper-step active-step ">
        <div class="mdl-stepper-circle"></div>
        <div class="mdl-stepper-title">Payments</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step ">
       <div class="mdl-stepper-circle2"></div>
        <div class="mdl-stepper-title"></div>
        <div class="dl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      
    </div>



</div>
</div>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-4">

<div class="middle-container">
  <p style="font-size:14px"> <b>Delivery Overvirew</b></p>

<div style="width: 200px;position:relative;">
  <div style="position: absolute;
top: 0;
left: 0;
height: 200px;
width: 200px;
border-radius: 50%;
clip: auto;background: #68DC83;">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
clip: rect(0px, 50px, 200px, 0px);"></div>
  </div>
  <div id="slice2" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(216deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
-webkit-transform: rotate(90deg);
clip: rect(0px, 100px, 100px, 0px);
background-color: #FF923F;;"></div>
  </div>
  <div id="slice3" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(306deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #499EF6;
-webkit-transform: rotate(36deg);
clip: rect(0px, 100px, 100px, 0px);"></div>
  </div>
  <div id="slice4" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(342deg);">
   
  </div>
  <div id="slice5" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(356.4deg);">
    
  </div>
  <div style="position: absolute;
border-radius: 50%;
top: 50px;
left: 50px;
background:white;
width: 100px;
height: 100px;
display: block;
clip: auto;"></div>
</div>

<div class="lower-row">
  <div class='is-grouped'>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle1"></button></div>
       <div class='button'> &nbsp;Shipped</div>
  </div>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle2"></button></div>
       <div class='button' >&nbsp; Delayed</div>
  </div>
   <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle3"></button></div>
       <div class='button'>&nbsp; Delivered</div>
  </div>
</div>
</div>
</div>
  </div>
  <div class="col-sm-4">
<div class="middle-container">
  <p style="font-size:14px"> <b>Delivery Overvirew</b></p>

<div style="width: 200px;position:relative;">
  <div style="position: absolute;
top: 0;
left: 0;
height: 200px;
width: 200px;
border-radius: 50%;
clip: auto;background: #68DC83;">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
clip: rect(0px, 50px, 200px, 0px);"></div>
  </div>
  <div id="slice2" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(216deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
-webkit-transform: rotate(90deg);
clip: rect(0px, 100px, 100px, 0px);
background-color: #FF923F;;"></div>
  </div>
  <div id="slice3" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(306deg);">
    <div class="pie" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
border-radius: 50%;
background-color: #499EF6;
-webkit-transform: rotate(36deg);
clip: rect(0px, 100px, 100px, 0px);"></div>
  </div>
  <div id="slice4" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(342deg);">
   
  </div>
  <div id="slice5" style="position: absolute;
top: 0;
left: 0;
width: 200px;
height: 200px;
clip: rect(0px, 200px, 200px, 100px);
-webkit-transform: rotate(356.4deg);">
    
  </div>
  <div style="position: absolute;
border-radius: 50%;
top: 50px;
left: 50px;
background:white;
width: 100px;
height: 100px;
display: block;
clip: auto;"></div>
</div>

<div class="lower-row">
  <div class='is-grouped'>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle1"></button></div>
       <div class='button'> &nbsp;Shipped</div>
  </div>
  <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle2"></button></div>
       <div class='button' >&nbsp; Delayed</div>
  </div>
   <div class='is-grouped'>
      <div class='button'><button class="two-dash-btn-circle3"></button></div>
       <div class='button'>&nbsp; Delivered</div>
  </div>
</div>
</div>
</div>
  </div>
</div>