<div class="QR-container">
    <!--<div class="row" style="height:1.5cm">-->

  
    <h5 aign="left"><b>Delivered</b></h5>
    <!-- </div>-->
    <br/>
    <br>
    <br/>
    <div class="row" style="height:2.0cm">

        <div>
            <div class="thisgroup-NR">
                <b> Delivered Date:</b>
            </div>
            <div class="group">
                
                 {{bootstrap-datepicker placeholder="Select Date" format="dd/mm/yyyy" class="form-control" value=mydate style="background: url('assets/images/forward.svg') no-repeat right center;"}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        </div>
       
            <div class="col-sm-3">
     <button id="NR-button" type="submit" {{action 'cancel'}}>CANCEL</button>
            </div>
         <div class="col-sm-3">
      <button id="NR-button" type="submit" {{action 'dodelivered'}}>Delivered</button>
        </div>
    </div>
</div>
