<div class="QR-container">
    <!--<div class="row" style="height:1.5cm">-->

  
    <h5 aign="left"><b>Invoice</b></h5>
    <!-- </div>-->
    
    <div class="row" style="height:2.0cm">

        <div id="left">
            <div class="thisgroup-NR">
                <b>Material Price :</b>
            </div>
            <div class="group" style="width:4cm;margin-top:-5mm">
                
                 {{validated-input type="text" model=this valuePath='materialPrice' placeholder="Enter Quantity" required=""}}
            </div>
        </div>

        <div id="right" style="margin-left:-1cm;width:7cm" >
            <div class="thisgroup-NR">
                <b >Delivery Charges:</b>
            </div>
            <br/>
            <div class="group" style="width:4cm;margin-top:-1cm">
               {{validated-input type="text" model=this valuePath='devcharge' placeholder="Enter Quantity" required=""}}
            </div>

        </div>
    </div>
     {{#if Notshow_fileupload}}
    <div id="NR-reactangle">
       
      {{#pl-uploader  for="upload_file" runtimes="html5 flash silverlight" onfileadd="uploadDoc" as |queue|}}
          <a id="upload_file" style="font-size:18px"> <p style="margin-top:3mm"> <img src="assets/images/upload.svg" alt="Smiley face" width="20" height="20" style="margin-bottom:3mm">&nbsp; Choose File to Upload</p></a>
         {{/pl-uploader}}
      
    </div>
     {{/if}}
       
       {{#if isShow_fileupload}}
        <div id="NR-reactangle-ok">
       <p style="color:#68DC83,margin-top:3mm"><b> File Uploaded Sucessfully !!!</b></p>
         </div>
       {{/if}}
    <div class="row">
        <div class="col-sm-6">
        </div>
       
            <div class="col-sm-3">
     <button id="NR-button" type="submit" {{action 'cancel'}}>CANCEL</button>
            </div>
         <div class="col-sm-3">
      <button id="NR-button" type="submit" {{action 'Re_invoiceraise'}}>Raise</button>
        </div>
    </div>
</div>